

<app-navigation-bar></app-navigation-bar>

<h4>Available X-ray Orders for In-Patients</h4>

<table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let column of columns" scope="col">{{column.name}}</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of rows">
        <td *ngFor="let column of columns">
          <div *ngIf="column.id === 'hca_assigned' && !order[column.id]">
            <button type="button" class="btn btn-primary" (click)="assignHca(order)">Assign HCA</button>
          </div>
          <div *ngIf="column.id === 'hca_assigned' && order[column.id] !== null">
            {{order[column.id]}}
          </div>

          <div *ngIf="column.id === 'arrived_at' && order['started_at'] && !order['arrived_at']">
            <button type="button" class="btn btn-primary" (click)="markAsArrived(order['patient_mrn'])">Mark as Arrived</button>
          </div>
          
          <div *ngIf="column.id === 'arrived_at' && order['arrived_at']">
            {{order[column.id]}}
          </div>

          <div *ngIf="column.id !== 'hca_assigned'">
            {{order[column.id]}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<app-hca-log></app-hca-log>